.aboutheader1{
    font-size: 50px;
    font-weight: bold;
    color: #2F455C;
    text-indent: 5%;
}
.aboutdesc1{
    font-size: 30px;
    font-weight: bold;
    color: #2F455C;
    text-indent: 5%;
}
.aboutdesc2{
    font-size: 30px;
    font-weight: bold;
    color: #2F455C;
    text-indent: 5%;
}
.aboutheader2{
    font-size: 50px;
    font-weight: bold;
    color: #2F455C;
    text-indent: 5%;
}
.aboutdesc3{
    font-size: 30px;
    font-weight: bold;
    color: #2F455C;
    text-indent: 5%;
}
.logoabt{
    text-indent: 5%;
    padding: 50px;
}
.container4 {
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: block;
}
#devs {
    margin: 40px;
    float: left;
    width: 180px;
}
